body {
  background: linear-gradient(0deg, #D8E9FB 0%, #D8E9FB 100%);
  margin: 0;
}

.tablet-container {
  background: rgba(10, 10, 10, 0.9);
  border-radius: 50px;
  margin: 5% auto; /* Центрирование по горизонтали */
  max-width: 80vw; /* Максимальная ширина в 80% от ширины экрана */
  width: 80%; /* Ширина занимает 100% от родительского контейнера */
  height: 60vh; /* Высота занимает 60% от высоты экрана */
  padding: 2vw; /* Внутренний отступ в 2% от ширины экрана */
  position: relative;
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.879);
  overflow: auto; /* Добавляем возможность скроллинга */
  }

  .home, .projects, .blog{
    text-align: center;
    color: #D8E9FB;
    padding-top: 110px;
     
}
  ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(108, 107, 107, 0.9);
    border-radius: 100px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #434445;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background-color: #D8E9FB;
  }

  .icons-container {
    position: relative;
    bottom: 0;
    width: 50vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icons-container a {
    margin: 0 20px; 
  }

  .content-container {
    padding-top: 20px; /* некоторый отступ сверху */
    padding-bottom: 20px; /* Добавляем отступ снизу, чтобы текст не прижимался к нижнему краю */
}

  .profile-picture {
    width: 250px; /* Размер фотографии */
    height: 250px;
    border-radius: 50%;
    float: right; /* Обтекание текстом с левой стороны */
    margin-right: 20px;
}

.font-color {
   color: white;
   font-family: Cinzel, 'Fauna One', monospace;
   font-size: 18px;

}

.school-link:link, .school-link:visited {
  color: white;
  text-decoration: none; /* отключаем подчёркивание */
  font-weight: bold; /* делаем текст жирным */
}

/* .school-link:visited {
  color: white;;
  text-decoration: none;

} */

.school-link:hover {
  color: green;
  text-decoration: none;
}

.nav-container {
  border-radius: 50px;
  padding: 2vw;
  position: absolute;
  bottom: 0;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  background: black;
  padding: 2vw 4vw; /* Внутренний отступ в 2% от ширины и 4% от высоты экрана */
  border-radius: 50px;
  box-shadow: 2px 6px 10px rgba(42, 42, 42, 0.5);
}

.nav-item a {
  color: white;
  font-family: Cinzel, 'Fauna One', monospace;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

/* .content-wrapper {
  transition: opacity 0.5s ease-in-out;
}

.fade-out .content-wrapper {
  opacity: 0;
} */

.content-wrapper {
  transition: transform 0.5s ease-in-out; /* добавляем переход для плавного сдвига */
}

.slide-left .content-wrapper {
  transform: translateX(-100%); /* сдвигаем контент влево на 100% от ширины */
}

.slide-right .content-wrapper {
  transform: translateX(100%); /* сдвигаем контент вправо на 100% от ширины */
}

/* Медиа-запросы для адаптивного дизайна */
@media screen and (max-width: 768px) {
  .tablet-container {
      height: 40vh;
  }

  .nav-container {
      padding: 4vw;
  }

  .nav-item {
      padding: 4vw 8vw;
  }
}

.projects-container {
  display: flex;
  flex-direction: column;
  
}

.project {
  display: flex;
  margin-bottom: 5%; /* Расстояние между проектами */
}

.circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}

#dino {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 70%;
  border-radius: 50%;;
  cursor: pointer;
  transition: 0.3s;
}

#dino:hover {
  opacity: 0.7;
  border: 2px solid #978f8f;

}

#grey-circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: rgba(122, 121, 121, 0.3);
  cursor: pointer;
  transition: 0.3s;
}

#grey-circle:hover {
  opacity: 0.7;
  border: 2px solid #978f8f;

}

.project-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* margin-top: 1%; */
  justify-content: space-around;
  font-family: Cinzel, 'Fauna One', monospace;

}
