body {
    background: linear-gradient(0deg, #D8E9FB 0%, #D8E9FB 100%),
                                 lightgray 50% / cover no-repeat;
    color: #000; 
    margin: 0;
    font-family: 'Arial', sans-serif; 
}

.tablet-container {
    background-color: rgba(10, 10, 10, 0.9);
    border-radius: 50px; 
    margin: 150px auto; /* Центрирование по горизонтали */
    max-width: 1000px;
    padding: 50px;
}

/* .tablet-container_small {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50px; 
    margin: 10px auto; 
    max-width: 800ыpx;
    padding: 50px;
} */

.tablet-container_small {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50px; 
    padding: 250px;
}


nav {
    background-color: black;
    
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin: 0;
  }
  
  a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #333;
  }

/* header, section, footer {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    margin: 20px;
} */

h1, h2 {
    color:  rgba(255, 255, 255, 0.8);
    /* #333; */
}

@media screen and (max-width: 768px) {
    .tablet-container {
      margin: 10px auto; /* Центрирование по горизонтали */
      max-width: 400px; /* Новая максимальная ширина для мобильных устройств */
    }
  
    .tablet-container_small {
      margin: 5px auto; /* Центрирование по горизонтали */
      max-width: 300px; /* Новая максимальная ширина для мобильных устройств */
    }
  }

  
/* .clock {
    position: absolute;
    top: 25%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #FC6053;
    border: 5px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hour-hand, .minute-hand, .second-hand {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9); 
    transform-origin: 50% 100%;
}

.hour-hand {
    height: 50px;
    width: 5px;
}

.minute-hand {
    height: 40px;
    width: 5px;
}

.second-hand {
    height: 45px;
    width: 1px;
} */
